<!-- <h2>Student List</h2>
<div>
    <ul *ngFor ="let student of students let i = index">
      <li>{{student.id}}. {{student.lastName}}, {{student.firstName}} <button mat-button color="warn" (click)="onDelete(student.id)">DELETE</button></li>
    </ul>
  </div>
<pre>{{students|json}}</pre> -->

  <h2>Student List</h2>
<div>
  <mat-list *ngFor="let student of students; let i = index">
    <mat-list-item>
        ● {{ student.studentID }} - Name: {{ student.lastName }},
      {{ student.firstName }} <br />
      Email: {{ student.email }} <br />
      Specialization: {{ student.specialization }} <br />
      Education level: {{ student.education }} <br />
      Contact No: {{ student.phoneNumber }} <br />
      Self Introduction: {{ student.selfIntro }} <br/>
      <div>
          <button mat-raised-button color="warn" (click)="onDelete(student.studentID)">DELETE</button>
          <button class = "customM"  mat-raised-button color="info" (click)="onUpdate(student.studentID)">UPDATE</button>
      </div>
     
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<!-- <pre>{{students|json}}</pre> -->
