/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {padding: 20px;}
.form-control.ng-invalid.ng-touched {
border: 2px solid red;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
.registeredlogin {
    margin-left: 10px;
    color: blue;
    text-decoration: underline;
}
.mat-list .mat-list-item {
  height: 250px!important; /* default is 72px */
}

.customM {
  margin-left: 20px;
  color: blue;
}

.mat-divider {
  color: blue;
  border-width: 1px;
  border-style: solid;
}

.failedstyle {
  color: red;
}

.goodscore {
  color: green;
}
.passedscore {
  color: rgb(11, 126, 219);
}
.image{
    background-size:cover;
    background-image: url('assets/header_background.JPG');
    background-repeat: no-repeat;
      background-position: 0%;
      width: cover;
      height: 400px;
  }
  .profilePic{
    background-image: url('assets/ico_student.png');
      width: 84px;
      height: 84px;
  }

  .login-main{
    margin-top: 10%;
    }
    mat-card{
    min-width: 40%;
    }