<div class="image"></div>
<h3></h3>
<ul class="nav nav-pills mb-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      [class.active]="viewModel == 'dashboard'"
      routerLink="/dashboard"
      (click)="viewModel = 'dashboard'"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      [class.active]="viewModel == 'registration'"
      routerLink="/registration"
      (click)="viewModel = 'registration'"
      >Student Registration</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewModel == 'students'"
      routerLink="/students"
      (click)="viewModel = 'students'"
      >List of Student</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewModel == 'aboutus'"
      routerLink="/aboutus"
      (click)="viewModel = 'aboutus'"
      >About me</a
    >
  </li>
</ul>
<h3></h3>


<router-outlet></router-outlet>
