<div class="image"></div>
<h3></h3>
<ul class="nav nav-pills mb-3" id="myTab" role="tablist">
 <!--  <li class="nav-item">
    <a
      class="nav-link active"
      [class.active]="viewModel == 'Home'"
      routerLink="/login"
      (click)="viewModel = 'Home'"
      >Home</a
    >
  </li> -->
  <li class="nav-item">
    <a
      class="nav-link active"
      [class.active]="viewModel == 'Registration'"
      routerLink="/registration"
      (click)="viewModel = 'Registration'"
      >Student Registration</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewModel == 'Jobs'"
      routerLink="/students"
      (click)="viewModel = 'Jobs'"
      >List of Student</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewModel == 'About us'"
      routerLink="/aboutus"
      (click)="viewModel = 'About us'"
      >About me</a
    >
  </li>
</ul>
<h3></h3>




<!-- <div [ngSwitch]="viewModel">
        <div *ngSwitchCase="'Home'">
          <app-login></app-login>
        </div>
        <div *ngSwitchCase="'Registration'">
          <app-registration></app-registration>
        </div>
        <div *ngSwitchCase="'Jobs'">
          <app-searchjobs></app-searchjobs>
        </div>
        <div *ngSwitchCase="'About us'">
          <app-aboutus></app-aboutus>
        </div>
      </div> -->

<!-- <input
  type="text"
  class="form-control"
  placeholder="{{ cardNumberInputHint }}"
  [(ngModel)]="cardNumberInput"
/>
<p class="passedstyle">Entered card number: {{ cardNumberInput }}</p> 
<img appDetectcardtype [cardNumber]="cardNumberInput" width="300" /> -->


<!-- <p class="passedstyle">
  <strong >Card Type: {{ cardName }}</strong>
</p> -->


<router-outlet></router-outlet>
